* {
    margin: 0px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 0px;
    box-sizing: border-box;
}

.container {

    display:flex;
    flex-direction: column;
    background-color:rgb(212, 215, 236);

}

.caja1{
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-top: 30px;
}

.caja2{
    margin-left:5px;
    display:inline-flex;
    flex-direction: column;
    align-self: start;

}


.caja2 input {
    padding: 10px;
    margin-top: 10px;
    width:400px;

}

/* le pongo color al boton enviar formulario en azul*/
.boton {
    background-color:rgba(0, 0, 255, 0.493);
    color:white;

}


/*link no visidado, visited es visitado el link y active cuando de pulse sobre él?*/

a:link,
a:visited,
a:active {
    text-decoration: none;
    /* le quita el subrayado*/
}

.caja4{

    display:inline-block;
    flex-direction:column;
    position: relative;
    align-items:flex-end;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    

}